<div class="praksa">
  <label for="" class="lbl">{{praksa.company.name}} - {{praksa.title}}</label>
  <div class="vrsta">
    <label class="lbl">Vrsta prakse: </label>
    <label class="lblinner">{{praksa.internshipType}}</label>
  </div>
  <div class="linija">
    <hr>
  </div>
  <div class="period">
    <label for="" class="lbl">Period trajanja prakse: </label>
    <label for="" class="lblinner">{{praksa.startDate}} - {{praksa.endDate}}</label>
  </div>
  <div class="divSmjer">
    <label for="" class="lbl">Smjer: </label>
    <label for="" class="lblinner">{{praksa.courses}}</label>
  </div>
  <label for="" class="lbl">O praksi:</label>
  <div class="oPraksi">
    <p> {{praksa.description}}</p>
  </div>
  <button (click)="showDetails()" class="btnPogledajPraksu">Detaljan pregled</button>
</div>
