<div class="popUp-klasa">
  <form [formGroup]="forma" class="popUp-content-klasa animate-popUp" method="get">

    <div class="naslov-iznad-hr ">
      <div class="row align-items-center">
        <div class="col-sm-8">
          <p>Odbijanje stručne prakse</p>
        </div>
        <div class="col-sm-4">
          <button type="reset" class="otkaziBtn" (click)="closePopUp()">Otkaži</button>
        </div>
      </div>
      <hr>
    </div>

    <div class="container1">
      <mat-form-field class="width " appearance="fill">
        <mat-label class="color">Razlog odbijanja prakse</mat-label>
        <textarea formControlName="razlog" rows="8" matInput required class="bg-light"></textarea>
      </mat-form-field>
    </div>

    <div class="container1">
      <button (click)="odbijPraksu()" class="potvrdiBtn">Potvrdi</button>
    </div>

  </form>
</div>
