<mat-form-field appearance="fill">
   <mat-label>Toppings</mat-label>
   <mat-select [formControl]="types" (selectionChange)="getInternships()">
      <mat-option value="ACTIVE">Aktivne prakse</mat-option>
      <mat-option value="FINISHED">Završene prakse</mat-option>
   </mat-select>
</mat-form-field>

<table #table style="width: 100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   <ng-container matColumnDef="internshipName">
      <th mat-header-cell *matHeaderCellDef> Naziv prakse </th>
      <td mat-cell *matCellDef="let element"> {{element.internshipName}} </td>
   </ng-container>

   <ng-container matColumnDef="comanyName">
      <th mat-header-cell *matHeaderCellDef> Naziv firme </th>
      <td mat-cell *matCellDef="let element"> {{element.comanyName}} </td>
   </ng-container>

   <ng-container matColumnDef="internshipType">
      <th mat-header-cell *matHeaderCellDef> Vrsta prakse </th>
      <td mat-cell *matCellDef="let element"> {{element.internshipType}} </td>
   </ng-container>

   <ng-container matColumnDef="internshipStatus">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.internshipStatus}} </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row (click)="navigateToStudents(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>