<div class="container">
  <div class="row">
    <div class="col header1">
      <label>Dnevnik rada</label>
      <hr>
    </div>
  </div>
  <div class="row align-items-center ">
    <div class="col header2 d-flex justify-content-center">
      <label>Broj unosa:</label>
      <label id="brojUnosa">20</label>
    </div>
    <div class="col header2 d-flex justify-content-center">
      <label>Broj odradjenih sati:</label>
      <label>150</label>
    </div>
    <div class="col d-flex justify-content-center">
      <button (click)="addNewReport()" class="btnDodaj">Dodaj izvještaj</button>
    </div>
  </div>

  <form [formGroup]="form">
    <div formArrayName="dnevnikRada">
      <ng-container *ngFor="let item of dnevnikRada.controls; let i = index;" [formGroupName]="i">
        <div class="form" [ngClass]="!getEntryForm(i).disabled ? 'form' : 'disabled-form'">
          <div class="row">
            <div class="col">
              <div class="row d-flex align-items-center">
                <!-- <div class="col">
                  Datum:
                  <label>{{getEntryForm(i).value.createdAt}}</label>
                </div> -->
                <div class="col">Dan:
                  <input type="number" style="width: 50px;" formControlName="day">
                </div>
                <div class="col">
                  <label for="od">Od:</label>
                  <select name="od" id="od" formControlName="fromTime">
                    <option value="07:00">7:00</option>
                  </select>
                </div>
                <div class="col">
                  <label for="do">Do:</label>
                  <select name="do" id="do" formControlName="toTime">
                    <option value="14:00">14:00</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-12">
                  <textarea class="izvjestaj" rows="4"
                    placeholder="Ovde unesite dnevne zadatke, misljenja, prednosti, mane i probleme..."
                    formControlName="text">
                </textarea>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <span *ngIf="getEntryForm(i).invalid && getEntryForm(i).touched" class="danger-text">Popunite sva
                    polja!</span>
                </div>
              </div>
              <div class="row d-flex align-items-center">
                <div class="col">
                  <label> Datum unosa izvjestaja: </label>
                  <label>{{getEntryForm(i).value.createdAt | date: "dd.MM.yyyy"}}</label>
                </div>
                <div class="col">
                  <label>Datum poslednje izmjene:</label>
                  <label>{{getEntryForm(i).value?.lastModifiedDate | date: "dd.MM.yyyy"}}</label>
                </div>
                <div class="col-md buttons">
                  <!-- (click)="uredi(i) -->
                  <button class="btnUredi" [disabled]="$any(dnevnikRada.controls[i]).controls['edit'].value"
                    [disabled]="getEntryForm(i).value?.edit" (click)="setEditable(i,true)">Uredi
                  </button>
                  <!-- save(i); -->
                  <button class="btnSacuvaj" [disabled]="getEntryForm(i).value?.save"
                    (click)="setEditable(i,false);submitWorkDiaryId(i);">Sacuvaj</button>



                  <button class="btnObrisi" [disabled]="false" (click)="print(i)">
                    Izbrisi</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>