<div class="container">
  <div class="row">
    <div class="col header1">
      <label>Dnevnik rada</label>
      <hr>
    </div>
  </div>
  <div class="row align-items-center ">
    <div class="col header2 d-flex justify-content-center">
      <label>Broj unosa:</label>
      <label id="brojUnosa">20</label>
    </div>
    <div class="col header2 d-flex justify-content-center">
      <label>Broj odradjenih sati:</label>
      <label>150</label>
    </div>
    <div class="col d-flex justify-content-center">
      <button (click)="addNewReport()" class="btnDodaj">Dodaj izvještaj</button>
    </div>
  </div>

  <form [formGroup]="form" onsubmit="return false">
    <div formArrayName="dnevnikRada">

      <ng-container *ngFor="let item of dnevnikRada.controls; let i = index;" [formGroupName]="i">
        <div class="form">
          <div class="row">
            <div class="col">
              <div class="row d-flex align-items-center">
                <div class="col">
                  Datum:
                  <label>19.1.2022</label>
                </div>
                <div class="col">Dan:
                  <input type="number" style="width: 50px;" formControlName="dan">
                </div>
                <div class="col">
                  <label for="od">Od:</label>
                  <select name="od" id="od" formControlName="od">
                    <option value="7">7:00</option>
                    <option value="8">8:00</option>
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                  </select>
                </div>
                <div class="col">
                  <label for="do">Do:</label>
                  <select name="do" id="do" formControlName="do">
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-12">
                  <textarea class="izvjestaj" rows="4"
                    placeholder="Ovde unesite dnevne zadatke, misljenja, prednosti, mane i probleme..."
                    formControlName="izvjestaj">
                </textarea>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <span *ngIf="!dnevnikRada.controls[i].valid && dnevnikRada.controls[i].touched" class="danger-text">Popunite sva polja!</span>
                </div>
              </div>
              <div class="row d-flex align-items-center">
                <div class="col">
                  <label> Datum unosa izvjestaja: </label>
                  <label>19.1.2022</label>
                </div>
                <div class="col">
                  <label>Datum poslednje izmjene:</label>
                  <label>19.1.2022</label>
                </div>
                <div class="col-md buttons">
                  <button class="btnUredi" (click)="uredi()" [disabled]='!disabled'>Uredi</button>
                  <button class="btnSacuvaj" (click)="save()" [disabled]='disabled'>Sacuvaj</button>
                  <button class="btnObrisi" (click)="delete(i)"> Izbrisi</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </form>

</div>
