<div class="container">

    <div class="wrapper-sadrzaja-komisije" id="wrapper-sadrzaja-komisije-ID">

        <div class="sadrzaj">

            <h2>Član stručne komisije</h2>
            <span class='line'></span>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="profilKolona">
                        <img src="../../../assets/resources/profileIcon100x100.svg" alt="profileimg">
                    </div>
                </div>
                <div class="col-md-3 kolone-u-sredini">
                    <div class="profilKolona  kolone-u-sredini Ime-prezime-kolona">
                        <p>Ime i prezime:</p>
                        <p>Zvanje:</p>
                        <p>Email:</p>
                    </div>
                </div>
                <div class="col-md-5 kolone-u-sredini">
                    <div class="profilKolona treca">
                        <p id="imeKomisije">Filip Filipović</p>
                        <p id="prezimeKomisije">dipl. inž. elektrotehnike</p>
                        <p id="emailKomisije">filipfilipovic@mail.com</p>
                    </div>
                </div>
                
            </div>
            
        </div>  <!------ sadrzaj komisije END ------>


    </div> <!------ wrapper-sadrzaja-komisije END ------>

</div><!------ container END ------>