<div class="container">

    <div class="row">
        <div class="col">
            <Label class="headerlbl">Aktivni konkursi</Label>
            <hr>
        </div>
    </div>

  <mat-form-field [formGroup]="selectKonkurs" appearance="fill">
    <mat-label>Konkursi</mat-label>
    <mat-select formControlName="konkurs" >
      <mat-option *ngFor="let konkurs of aktivniKonkursi;" (click)="getAplikacije()" [value]="konkurs.id" >
        {{konkurs.naziv}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="isVisible; then prijave"> </ng-container>
</div>


<ng-template #prijave>
  <div class="aplikacija" *ngFor="let item of podaciOKonkursu.studenti; let i = index;">
    <div class="row align-items-center">
      <div class="col-md-6 imeFlex">
        <a [routerLink]="['/student/profil']" routerLinkActive="router-link-active"  class="ime" (click)="getStudent(i)">{{item.ime}} {{item.prezime}}</a>
      </div>
      <div class="col-md-6 flex">
        <button class="pismo">Pismo</button>
        <button class="btnOdobri">Odobri</button>
        <button (click)="showPopUp()">Odbi</button>
      </div>
    </div>
  </div>
</ng-template>