<div class="container">

    <div class="row">
        <div class="col">
            <Label class="headerlbl">Aktivni konkursi</Label>
            <hr>
        </div>
    </div>

  <mat-form-field [formGroup]="selectKonkurs" appearance="fill">
    <mat-label>Konkursi</mat-label>
    <mat-select formControlName="konkurs" >
      <mat-option *ngFor="let konkurs of aktivniKonkursi;" (click)="log()" [value]="konkurs.id" >
        {{konkurs.naziv}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngTemplateOutlet="prijave">

  </ng-container>
</div>


<ng-template #prijave>
  <div class="aplikacija">
    <label *ngIf="selectedKonkurs != null;">{{selectedKonkurs}}</label>
  </div>
</ng-template>