<div class="container">

    <div class="row">
        <div class="col">
            <Label class="headerlbl">Aktivni konkursi</Label>
            <hr>
        </div>
    </div>

  <mat-form-field [formGroup]="form" appearance="fill">
    <mat-label>Konkursi</mat-label>
    <mat-select formControlName="internshipId" (selectionChange)="getAplikacije()">
      <mat-option *ngFor="let item of internships$ | async;" [value]="item.internshipId" >
        {{item.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container >
    <div class="aplikacija" *ngFor="let item of applications; let i = index;">
      <div class="row align-items-center">
        <div class="col-md-6 imeFlex">
          <a class="ime" (click)="getStudent(item.studentId)">{{item.studentFirstName}} {{item.studentLastName}}</a>
        </div>
        <div class="col-md-6 flex">
          <button class="pismo">Pismo</button>
          <button (click)="approveApplication(item.studentId)" class="btnOdobri">Odobri</button>
          <button (click)="showPopUp(item.studentId)">Odbij</button>
        </div>
      </div>
    </div> </ng-container>

</div>
