<div class="container">
  <div id="navbar-custom" class="sticky12">
    <!---- NAV MENI ------------------------------------------------>
    <div class="topnav" id="myTopnav">
      <div class="container">
        <div class="logo-klasa">
          <a class="active"><img src="../../../assets//resources/ePraksaLogo602x197.PNG" alt="logoAlt"></a>
        </div>
        <div class="dropdown-klasa">
          <button class="dropbtn" id="dropbtn-ID" (click)="profilDropdown()">Profil
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content-klasa" id="dropdown-content-klasa-ID">
            <a [routerLink]="[ '/student/profil' ]" routerLinkActive="router-link-active">Prikaži profil</a>
            <a>Uredi profil</a>
            <a [routerLink]="['']" (click)="logOut()">Odjavi se</a>
          </div>
        </div>
        <a style="margin-top: 6px;">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon *ngIf="notifications?.length" [matBadge]="notifications.length" matBadgeColor="accent">
              notifications_active</mat-icon>
            <mat-icon *ngIf="!notifications?.length">notifications_active</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!notifications?.length"><span>Nema notifikacija</span></button>
            <button *ngFor="let item of notifications" mat-menu-item>
              <span [matTooltip]="item.text">{{item.subject}}</span>
            </button>
          </mat-menu>
        </a>
        <a [routerLink]="['/student/mentor-report']">Izvještaj Mentora</a>
        <a [routerLink]="['/student/dnevnik-rada']">Dnevnik Rada</a>
        <a [routerLink]="['/student']" routerLinkActive="router-link-active">Prakse</a>
        <a [routerLink]="['/student/my-applicaitons']">Moji konkursi</a>
        <!-- <a href="./prijavaNaPraksu.html">Ocjeni praksu</a> -->
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()"><img></a>
        <!-- tri crtice -->
      </div>
    </div>
  </div>
</div>