<div class="container">
  <div id="navbar-custom" class="sticky12">
    <!---- NAV MENI ------------------------------------------------>
    <div class="topnav" id="myTopnav">
      <div class="container">
        <div class="logo-klasa">
          <a class="active"><img src="../../../assets//resources/ePraksaLogo602x197.PNG" alt="logoAlt"></a>
        </div>
        <div class="dropdown-klasa">
          <button class="dropbtn" id="dropbtn-ID" (click)="profilDropdown()">Profil
            <i class='fas fa-caret-down'></i>
          </button>
          <div class="dropdown-content-klasa" id="dropdown-content-klasa-ID">
            <a>Prikaži profil</a>
            <a>Uredi profil</a>
            <a routerLink="['']" (click)="logOut()">Odjavi se</a>
          </div>
        </div>

        <a [routerLink]="['/company/prijave-na-konkurs']" routerLinkActive="active">Prijave na konkurs</a>
        <a [routerLink]="['/company/internships_view/published']" >Objavljene prakse</a>
        <a [routerLink]="['/company/internships_view/denied']">Odbijene prakse</a>
        <a [routerLink]="['/company/objava-prakse']" routerLinkActive="active">Objavi novu praksu</a>
        <a [routerLink]="['/company/mentors']" routerLinkActive="active">Mentori</a>
        <a style="font-size:15px;" class="icon" (click)="myFunction()"><img></a>
        <!-- tri crtice -->
      </div>
    </div>
  </div>
</div>
