.parent {
  padding: 20px;
  width: 90%;
  background-color: rgb(231, 230, 230);
  border-radius: 10px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 10px;
}

.content {
  font-size: 18px;
  color: rgb(74, 74, 74);
}

.underline {
  text-decoration: underline;
}

.btns {
  padding: 20px;
  width: 90%;
}