button {
  color: white;
  border: none;
  cursor: pointer;
}

.potvrdiBtn:hover {
  background-color: var(--zelenaMouseOver);
}

.naslov-iznad-hr {
  text-align: left;
  color: black;
  margin-left: 7%;
  margin-right: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

.naslov-iznad-hr hr {
  margin-right: 6%;
}

.sadrzaj p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sadrzaj,
.pasus,
.naslov-pasusa {
  margin-left: 7%;
  margin-right: 7%;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: left;
  width: auto;
}


.stavke-prakse {
  font-size: inherit;
  //   text-decoration: underline;
}

.vrijednost-stavke {
  margin-left: 15px;
  font-weight: normal;
  font-size: inherit;
}

.vrijednost-stavke a {
  color: var(--plavaZaLinkoveFooter);
  text-decoration: none;
}

.pasus,
.naslov-pasusa {
  margin-top: 0;
  margin-bottom: 0px;
  display: block;
  font-weight: normal;
}

.naslov-pasusa {
  font-weight: bold;
}

.naslov-pasusa p {
  margin-bottom: 0 !important;
  text-decoration: underline;
}

.pasus p {
  margin-top: 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.popUp-klasa {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.popUp-content-klasa {
  margin: 2% auto max(200px, 25%) auto;
  border: 3px solid var(--plavaZaLinkoveFooter);
  border-radius: 40px;
  background-color: white;
  padding: 5px;
  width: 85%;
  max-width: 800px;
  /* ŠIRINA POPUPa */
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.animate-popUp {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.prikaziPopUp-btn {
  width: 150px;
  background-color: var(--zelena);
  border-radius: 40px;
  font-weight: bold;
}

.naslov

/* samo text */
  {
  margin-top: 0;
  font-size: smaller;
  color: white;
}

.center {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 15px;
}

.potvrdiBtn {
  width: 140px;
  height: 40px;

  background-color: var(--zelena);
  border-radius: 40px;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.OtkaziPraksuBtn {
  width: 140px;
  height: 40px;

  background-color: red;
  border-radius: 40px;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.otkaziBtn {
  padding: 0;
  margin: 0;
  width: 41px;
  height: 41px;
  background: url(../../../assets/resources/X.svg) no-repeat scroll 0 0;
  background-size: 41px;

}

.textBox {
  word-wrap: break-word;
}

// textarea {
//   font-size: medium;
//   letter-spacing: 0.9px;
// }

// textarea {
//   padding: 6px;
//   max-width: 96%;
//   min-width: 96%;
//   line-height: 1.5;
//   border-radius: 13px;
//   border: 1px solid #ccc;
//   box-shadow: 1px 1px 1px #999;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

.kolona {
  float: left;
  margin-bottom: 3px;
}

.lijevo {
  width: 85%;
}

.desno {
  width: 15%;
}

.desno button {
  margin-top: 6px;
  float: right;
}

.polovina {
  width: 45%;
}

.polovina-2 {
  float: right;
  margin-right: 2%;
}

.al {
  display: flex;
  justify-content: flex-end;
}

.red:after {
  content: "";
  display: table;
  clear: both;
  align-items: center;
}

hr {
  margin-top: 0;
}

@media screen and (max-width: 900px) {
  .lijevo {
    font-size: 17px;
  }

  .potvrdiBtn {
    width: 110px;
  }
}

@media screen and (max-width: 600px) {
  .lijevo {
    font-size: 16px;
  }

  .potvrdiBtn {
    width: 80px;
  }
}

@media screen and (max-width: 300px) {
  .lijevo {
    font-size: 15px;
  }

  .potvrdiBtn {
    width: auto;
  }

}