<div class="container parent">
  <div class="row">
    <div class="row mb-3">
      <div class="col">
        <label class="title"> Komapnija: </label>
        <label class="content">{{praksa?.company?.name}}</label>
      </div>
      <div class="col">
        <label class="title"> Praksa: </label>
        <label class="content">{{praksa?.title}}</label>
      </div>
    </div>
    <div class="row  mb-3">
      <div class="col">
        <label class="title"> Vrsta prakse: </label>
        <label class="content">{{praksa?.internshipType}}</label>
      </div>
      <div class="col">
        <label class="title"> Vrijeme trajanje prakse: </label>
        <label class="content"><span *ngIf="praksa?.workHours">{{praksa?.workHours}}</span><span
            *ngIf="!praksa?.workHours">-</span> h</label>
      </div>
    </div>
    <div class="row  mb-3">
      <div class="col">
        <label class="title"> Godina fakulteta: </label>
        <label class="content">{{praksa?.years}}</label>
      </div>
      <div class="col">
        <label class="title"> Smjerov: </label>
        <label class="content">{{praksa?.courses}}</label>
      </div>
    </div>
    <div class="row  mb-3">
      <div class="col">
        <label class="title"> Rok za prijavu: </label>
        <label class="content">{{praksa?.submissionDue | date: 'dd.MM.yyyy'}}</label>
      </div>
      <div class="col">
        <label class="title"> Datum trajanja: </label>
        <label class="content">{{praksa?.startDate | date: 'dd.MM.yyyy'}} - {{praksa?.endDate | date:
          'dd.MM.yyyy'}}</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label class="title"> Link do prakse: </label>
        <a [attr.href]="praksa?.link" target="_blank">
          <span *ngIf="praksa?.link">{{praksa?.link}}</span>
          <span *ngIf="!praksa?.link">-</span>
        </a>
      </div>
      <div class="col">
        <label class="title"> Mjesto: </label>
        <label class="content">{{praksa?.city}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="title underline"> Tekst o praksi: </label>
        <p>{{praksa?.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="title underline"> Detalji o praksi: </label>
        <p>{{praksa?.details}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="title underline"> Oblast rada prakse: </label>
        <p>{{praksa?.internshipField}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="title underline"> Program rada prakse: </label>
        <p>{{praksa?.schedule}}</p>
      </div>
    </div>

  </div>
</div>

<div class="container btns">
  <div class="row">
    <div *ngIf="isCommission" class="col-3 d-flex justify-content-start">
      <button mat-raised-button color="warn" (click)="openDialog(templ)">Otkazi praksu</button>
    </div>
    <div *ngIf="isCommission" class="col-3 d-flex justify-content-start">
      <button mat-raised-button color="green" (click)="approveInternship()">Odobri praksu</button>
    </div>
    <div *ngIf="isStudent" class="col-3 d-flex justify-content-center">
      <button mat-raised-button color="green" (click)="apliciraj()" class="potvrdiBtn">Apliciraj</button>
    </div>
    <div *ngIf="isCompany" class="col-3 d-flex justify-content-start">
      <button mat-raised-button (click)="redirectToEdit(praksa.internshipId)">Uredi</button>
    </div>
  </div>
</div>

<ng-template #templ>
  <h1>Razlog odbijanja prakse</h1>
  <div mat-dialog-content>
    <form [formGroup]="form" fxLayout="row">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Razlog odbijanja</mat-label>
        <textarea matInput formControlName="comment" rows="5"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button style="color: black;" mat-button mat-dialog-close>Zatvori</button>
    <button mat-raised-button [mat-dialog-close]="true" color="green" [disabled]="form.invalid">Potvrdi</button>
  </div>
</ng-template>