<div class="container">

  <div class="row" style="background-color: var(--bojaMenija);">
    <div class="col-6">
      <img class="imglogo" src="../../../assets/resources/logotip.PNG" alt="logo">
    </div>
    <div class="col-6 nav-bar">
      <ul class="nav">
        <li class="nav1">
          <!-- Dropdown meni za login -->
          <div class="dropdown">
            <button (click)="showPopUp('student')">Prijava</button>
            <!-- <div class="dropdown-content"> -->
              <!-- <a href="#">Administrator</a> -->
              <!-- <a (click)="showPopUp('komisija')">Komisija</a>
              <a (click)="showPopUp('student')">Student</a>
              <a (click)="showPopUp('firma')">Moderator</a>
              <a (click)="showPopUp('mentor')">Strucni mentor</a> -->
            <!-- </div> -->
          </div>
        </li>
      </ul>
    </div>
    <hr>
  </div>

  <div class="row row1">
    <div class="col-md ">
      <h1>Dobrodošli na sajt bla bl abla tes tes tes te ste</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quibusdam dolorum cum perspiciatis aperiam sit
        quas perferendis, culpa, aliquid laborum maiores quia minima tempora dolore maxime fuga eius molestias nulla?
      </p>
    </div>
    <div class="col-md hiring"></div>
  </div>

  <div class="row  my-1">
    <div class="col oNama">
      <div class="">
        <h2>O nama</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut ullam quas a borum accusamus adipisci. Odio
          samo
          čć đ ž š Č Ć Ž Đ Š
          laudantium saepe porro quidem aliquam, ullam deleniti aperiam corrupti quasi rerum officia officiis eaque.
          Dolorem.</p>
      </div>
    </div>
    <div class="col-5 aboutImg"></div>
  </div>

  <div class="row my-1">
    <div class="col-md-5 ">
      <div class="imgProgres"></div>
    </div>
    <div class="col-md-7 zatoTxt">
      <div class="">
        <h2>Zasto su kod nas prvi koraci</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias porro blanditiis, iste vel deserunt voluptatum
          corporis modi sunt, similique perspiciatis vero consequuntur facere aliquam id, doloribus sed nam veritatis
          voluptatibus.lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, obcaecati labore enim
          architecto totam vero molestias laborum alias unde perferendis recusandae ullam esse fugiat minus dolore ea
          consequuntur, facilis et.</p>
      </div>
    </div>
  </div>
</div>
