<div class="container">
  <!--<app-nav-bar></app-nav-bar>-->
  <!--
  <div class="row" style="background-color: var(--bojaMenija);">
    <div class="col-6">
      <img class="imglogo" src="../../../assets/resources/logotip.PNG" alt="logo">
    </div>
    <div class="col-6 nav-bar">
      <ul class="nav">
        <li class="nav1">
          <div class="dropdown">
            <button (click)="showPopUp('student')">Prijava</button>
          </div>
        </li>
      </ul>
    </div>
    <hr>
  </div>
-->
  <div class="row row1">
    <div class="col-md ">
      <h1 style="font-size: 70px; margin:.5em;">Dobrodošli</h1>
      <p style="font-size: 20px;">Uz nas brzo, lako i jednostavno do željene prakse.</p>
    </div>
    <div class="col-md hiring"></div>
  </div>

  <div class="row  my-1">
    <div class="col oNama">
      <div class="small">
        <h2>O nama</h2>
        <p>Sajt ePraksa namjenjen je studentima Elektrotehničkog fakulteta smjera softversko inženjerstvo,
          računarsko inženjerstvo, telekomunikacije i energetika, gdje na jednom mjestu mogu pronaći i aplicirati
          za stručnu i ljetnu praksu. Ova platforma je nastala sa ciljem da se unaprijedi sam postupak traženja,
          organizovanja i obavljanja kako stručnih tako i ljetnih praksi.</p>
      </div>
    </div>
    <div class="col-5 aboutImg"></div>
  </div>

  <div class="row my-1">
    <div class="col-md-5 ">
      <div class="imgProgres"></div>
    </div>
    <div class="col-md-7 zatoTxt">
      <div class="small">
        <h2>Zašto su kod nas prvi koraci?</h2>
        <div style="color: white;">
          <h3>Jer na jednom mjestu spajamo :</h3>
          <li> Korisino i informativno</li>
          <li>Znanje i zabavu</li>
          <li>Kompanije i studente</li>
        </div>
      </div>
    </div>
  </div>
</div>