<div class="container">

  <div class="row">
    <div class="col">
      <label class="lbl">Objavljivanje prakse</label>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <mat-vertical-stepper linear="true">
        <mat-step label="Naziv prakse" [stepControl]="firstFormGroup">
          <div>
            <h1>Prvi korak naslov</h1>
          </div>
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Naziv prakse</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Naziv prakse</mat-label>
              <input matInput placeholder="Naziv prakse" formControlName="nazivPrakse" required>
            </mat-form-field>
            <div>
              <button class="daljeBtn" mat-raised-button matStepperNext
                [disabled]="firstFormGroup.invalid">Dalje</button>
            </div>
          </form>
        </mat-step>

        <mat-step label="Podaci vezani za fakultet">

          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Vrsta prakse i smjer</ng-template>
            <section>
              <h3>Vrsta prakse:</h3>
              <mat-radio-group formControlName="vrstaPrakse" aria-labelledby="lvlVrstaID" class="example-radio-group">
                <mat-radio-button value="STRUCNA">Strucna</mat-radio-button>
                <mat-radio-button value="LJETNA">Ljetna</mat-radio-button>
              </mat-radio-group>
            </section>
            <h3>Smjer:</h3>
            <section class="section2">
              <div>
                <input type="checkbox" id="ckbSi" formControlName="SI">
                <label for="ckbSi">Softversko inz.</label>
              </div>
              <div>
                <input type="checkbox" id="ckbRi" formControlName="RI">
                <label for="ckbRi">Racunarsko inz.</label>
              </div>
              <div>
                <input type="checkbox" id="ckbEl" formControlName="EL">
                <label for="ckbEl">Elektronika</label>
              </div>
              <div>

                <input type="checkbox" id="ckbTel" formControlName="TEL">
                <label for="ckbTel">Telekomunikacije</label>
              </div>
            </section>
            <h3>Godina fakulteta:</h3>
            <section class="section2">
              <div>

                <input type="checkbox" id="ckbI" formControlName="god1">
                <label for="ckbI">I</label>

                <input type="checkbox" id="ckbII" formControlName="god2">
                <label for="ckbII">II</label>

                <input type="checkbox" id="ckbIII" formControlName="god3">
                <label for="ckbIII">III</label>

                <input type="checkbox" id="ckbIV" formControlName="god4">
                <label for="ckbIV">IV</label>
              </div>
            </section>
            <div *ngIf="secondFormGroup?.get('vrstaPrakse')?.value == 'STRUCNA'">
              <mat-form-field appearance="fill">
                <mat-label>Broj randih sati prakse</mat-label>
                <input matInput required type="number" placeholder="Broj randih sati prakse" formControlName="brojSati">
              </mat-form-field>
            </div>
            <span *ngIf="secondFormInvalid()" class="danger-text">
              <p>{{errorMessage}}</p>
            </span>
            <button class="btnNazad" mat-raised-button matStepperPrevious>Nazad</button>
            <button class="daljeBtn" mat-raised-button matStepperNext [disabled]="secondFormInvalid()">Dalje</button>

          </form>
        </mat-step>

        <mat-step label="Oblast i program rada prakse">
          <form [formGroup]="thirdForm">
            <div>
              <h3>Oblast rada:</h3>
            </div>
            <mat-form-field class="width" appearance="fill">
              <mat-label>Oblast rada prakse</mat-label>
              <textarea formControlName="oblastRada" rows="5" matInput></textarea>
            </mat-form-field>
            <h3>Program rada prakse:</h3>
            <mat-form-field class="width" appearance="fill">
              <mat-label>Program rada prakse</mat-label>
              <textarea formControlName="programRada" rows="8" matInput></textarea>
            </mat-form-field>
            <div>
            </div>
            <button class="btnNazad" mat-raised-button matStepperPrevious>Nazad</button>
            <button class="daljeBtn" mat-raised-button matStepperNext [disabled]="thirdForm.invalid">Dalje</button>
          </form>
        </mat-step>

        <mat-step label="Detalji o praksi">
          <form [formGroup]="fourthForm">
            <div>
              <h3>Detalji o praksi:</h3>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="width" appearance="fill">
                  <mat-label>Detalji o praksi</mat-label>
                  <textarea formControlName="detalji" rows="8" matInput required></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h3>Reklamni tekst</h3>
                <mat-form-field class="width" appearance="fill">
                  <mat-label>Reklamni tekst o praksi</mat-label>
                  <textarea formControlName="reklamniTekst" rows="8" matInput required></textarea>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <h3>Strucni mentor</h3>
                <mat-form-field appearance="fill">
                  <mat-label>Strucni mentor</mat-label>
                  <mat-select formControlName="mentor" required>
                    <mat-option *ngFor="let item of mentori" [value]="item.id">
                      {{item.ime}} {{item.prezime}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <h3>Grad:</h3>
                <mat-form-field appearance="fill">
                  <mat-label>Mjesto odrzavanaj prakse</mat-label>
                  <input formControlName="grad" matInput placeholder="Mjesto odrzavanaj prakse" required>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3>Dokumenta za apliciranje na konkurs:</h3>
                <section class="section2">
                  <div>
                    <input type="checkbox" id="ckbCV" formControlName="cv">
                    <label for="ckbCV">CV</label>
                    <input type="checkbox" id="ckbMP" formControlName="motPismo">
                    <label for="ckbMP">Motivaciono pismo</label>
                  </div>
                </section>
              </div>
              <div class="col">
                <h3>Link do prakse:</h3>
                <mat-form-field appearance="fill">
                  <mat-label>Link</mat-label>
                  <input formControlName="link" matInput placeholder="Link do prakse">
                </mat-form-field>
              </div>
            </div>
            <button class="btnNazad" mat-raised-button matStepperPrevious>Nazad</button>
            <button class="daljeBtn" mat-raised-button matStepperNext [disabled]="fourthForm.invalid">Dalje</button>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Datumi i rokovi</ng-template>
          <form [formGroup]="fifthForm">
            <div class="row">
              <h3>Period trajanja prakse:</h3>
              <div class="col">
                <mat-form-field appearance="fill" class="example-form-field">
                  <mat-label>Period trajanja prakse</mat-label>
                  <mat-date-range-input [rangePicker]="rangePicker" required [min]="today">
                    <input matStartDate placeholder="Start date" formControlName="periodOd" >
                    <input matEndDate placeholder="End date" formControlName="periodDo">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                  <mat-date-range-picker #rangePicker>
                    <mat-date-range-picker-actions>
                      <button mat-button matDateRangePickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                    </mat-date-range-picker-actions>
                  </mat-date-range-picker>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill" class="example-form-field">
                  <mat-label>Rok prijave na konkurs</mat-label>
                  <input matInput [matDatepicker]="datepicker" formControlName="rok" [max]="this.fifthForm.controls['periodOd'].value" [min]="today">
                  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                      <button mat-button matDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <button class="btnNazad" mat-raised-button matStepperPrevious>Nazad</button>
            <button class="daljeBtn" mat-raised-button matStepperNext [disabled]="fifthForm.invalid">Dalje</button>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Objavi oglas</ng-template>
          <div class="row">
            <div class="col">
              <ng-container
                *ngIf="secondFormGroup?.get('vrstaPrakse')?.value == 'strucna'; then strucnaInfo; else ljetnaInfo;">
              </ng-container>
              <ng-template #strucnaInfo>
                <div> Oglas za strucnu praksu mora biti odobren od strane strucne komisije.</div>
              </ng-template>

              <ng-template #ljetnaInfo>
                <div *ngIf="this.secondFormGroup.controls['vrstaPrakse'].value == 'STRUCNA'" style="margin:10px;"> Prije objavljivanja oglas ce biti pregledan od strane strucne komisije!</div>
              </ng-template>
              <button class="btnNazad" mat-raised-button (click)="cancel()">Otkazi</button>
              <button class="daljeBtn" mat-raised-button (click)="submitData()">Objavi</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>