<ng-container class="container">
    <div class="row align-items-center">
        <div class="col-6 text">
            Vrsta prakse: {{internship?.internshipType}} Naziv: {{internship?.title}}
        </div>
        <div class="col-4 align">
            <button class="btnRed align" (click)="closeInternship()">Zavrsi praksu</button>
        </div>
        <div class="col-2">
            <button class="btnGreen" (click)="startInternship()">Zapocni praksu</button>
        </div>
    </div>
    <mat-divider style="margin: 1em 0;"></mat-divider>

    <mat-card class="example-card" *ngFor="let item of students">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.firstName}} {{item.lastName}}</mat-card-title>
          <mat-card-subtitle>{{item.faculty}} {{item.index}} godina studija: {{item.year}}</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>
          <p>
            NAPOMENE OD STRANE KOMISIJE ILI MENTORA
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button (click)="viewStudent(item.id)">PROFIL</button>
          <button mat-stroked-button>IZVJESTAJ</button>
          <button mat-stroked-button>DNEVNIK RADA</button>
        </mat-card-actions>
      </mat-card>


</ng-container>