// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ePraksa-primary: mat.define-palette(mat.$indigo-palette);
$ePraksa-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ePraksa-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ePraksa-theme: mat.define-light-theme(
  (
    color: (
      primary: $ePraksa-primary,
      accent: $ePraksa-accent,
      warn: $ePraksa-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ePraksa-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --zelena: #5fb34f;
  --zelenaMouseOver: #327825;
  --plavaMouseOver: #66bfb6;
  --bojaMenija: #105c6e;
  --plavaOtkaziButton: #5ba7b9;
  --plavaZaLinkoveFooter: #4ad5d4;
  --crvenaZaButtone: #f81a1a;
  --bojaTamnoZelenaSlova: #105c6e;
  --sivaBackground: #e5e5e5;
  --zelenaCheckbox: #5fb34f;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn:hover {
  background-color: var(--zelenaMouseOver);
}

.btnRed {
  border: none;
  width: 120px;
  height: 35px;
  font-weight: 500 !important;
  background-color: red !important;
  border-radius: 20px !important;
  padding: 0;
  color: white !important;
  float: right;
  // margin-right: 5px;
  margin-left: 5px;
}

.btnRed:hover {
  opacity: 0.6;
}

.btnGreen {
  border: none;
  width: 120px;
  height: 35px;
  font-weight: 500;
  background-color: var(--zelena);
  border-radius: 40px;
  padding: 0;
  color: white !important;
  float: right;

  margin-left: 5px;
}

.btnGreen:hover {
  background-color: var(--zelenaMouseOver);
}

.mat-green {
  background-color: var(--zelena) !important;
  color: white;
}

.mat-red {
  background-color: red;
  color: white;
}

.subTitle {
  h2 {
    // font-weight: 400;
    text-align: left;
    color: rgb(73, 73, 73);
  }
}

mat-divider{
  margin-bottom: 1em!important;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}