<footer class="container2">
  <div class=" row align-items-center">
    <div class="col-sm-4 ">
      <ul>
        <li><a>Pravila korištenja</a></li>
        <li><a routerLink="/about">O ePraksi</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul>
        <li><a routerLink=""><img src="../../../assets/resources/ePraksaLogo602x197.PNG" alt=""></a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <ul>
        <li>
          <a href="mailto:{{adminMail}}">
            <mat-icon>mail</mat-icon>
            Kontaktirajte nas
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>