<div class="container">
  <footer class="">
    <div class="row align-items-center">
      <div class="col-sm-4 ">
        <ul>
          <li><a>Pravila korištenja</a></li>
          <li><a>O ePraksi</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li><a><img src="../../../assets/resources/ePraksaLogo602x197.PNG" alt=""></a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li>
            <a href="mailto:{{adminMail}}">
              <mat-icon>mail</mat-icon>
              Kontaktirajte nas
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>