<div class="container">
  <footer class="">
    <div class="row align-items-center">
      <div class="col-sm-4 ">
        <ul>
          <li><a href="#">Pravila korištenja</a></li>
          <li><a href="#">O ePraksi</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul>
          <li><a href="#"><img src="../../../assets/resources/ePraksaLogo602x197.PNG" alt=""></a></li>
        </ul>
      </div>
      <div class="col-sm-4 ">
        <ul>
          <li><a href="#">admin@mail.com</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
