.menu {
   background-color: var(--bojaMenija);
   color: white;
   padding: 5px 10px !important;
   margin-bottom: 1em;
   border-radius: 0 0 10px 10px;
}

.bla {
   background-color: var(--bojaMenija) !important;
   position: absolute;
   bottom: 0;
   height: 70px;
   width: 100%;
}

mat-divider {
   margin: 0 !important;
}