.menu {
   background-color: var(--bojaMenija);
   color: white;
   padding: 5px 10px !important;
   margin-bottom: 1em;
   border-radius: 0 0 10px 10px;
}

.sign-in-button {
   background-color: var(--zelena);
   border-radius: 50px;
   width: 150px;
   height: 40px;
   font-size: 1rem;
   font-weight: 600;
}

mat-divider {
   margin: 0 !important;
}

.menu img {
   width: 160px;
   margin-right: 0 !important;
}

a {
   cursor: pointer;
}